<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVNHDPKXZn9d6FZuIVT9kU7jKLjMSAkX8</string>
	<key>GCM_SENDER_ID</key>
	<string>945883542325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.humanconnection</string>
	<key>PROJECT_ID</key>
	<string>humanconnection-30ad9</string>
	<key>STORAGE_BUCKET</key>
	<string>humanconnection-30ad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945883542325:ios:fec86651a2b8d31542127c</string>
</dict>
</plist>